@model Application.Web.Models.ViewModels.ExpectedReceiptViewModel.ExpectedReceipt
@{
    ViewBag.Title = "Expected Receipt Edit";
}

<style type="text/css">
    hr.style5 {
        background-color: #fff;
        border-top: 2px dashed #8c8b8b;
    }

    .shadow-textarea textarea.form-control::placeholder {
        font-weight: 300;
    }

    .shadow-textarea textarea.form-control {
        padding-left: 0.8rem;
    }

    .select2-container {
        width: 100% !important;
    }
</style>

<div id="form-container" data-url="@Url.Action(" Edit","ExpectedReceipt")">
    @using (Html.BeginForm("Edit", "ExpectedReceipt", FormMethod.Post, new { id = "create-form", enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ReferenceNumber)
        @Html.HiddenFor(model => model.GoodsReceivedNumber)
        @Html.HiddenFor(model => model.AutoReferenceNumber)
        @Html.HiddenFor(model => model.StatusId)
        @Html.HiddenFor(model => model.DateCreated)
        @Html.HiddenFor(model => model.CustomerId)
        @Html.HiddenFor(model => model.Planned)
        @Html.HiddenFor(model => model.IsActive)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.Supplier)
        @Html.HiddenFor(model => model.IsProcessing)

        <div class="box-body">
            <div class="form-horizontal">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.ReferenceNumber, new { @class = "control-label col-md-15" })
                            @Html.EditorFor(model => model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control", required = "required", disabled = "disable" } })
                            @Html.ValidationMessageFor(model => model.ReferenceNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.ExpectedReceiptDate, new { @class = "control-label col-md-15 required" })
                            @Html.TextBox("ExpectedReceiptDate", Model.ExpectedReceiptDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date" })
                            @Html.ValidationMessageFor(model => model.ExpectedReceiptDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Supplier, new { @class = "control-label col-md-15" })
                            <select class="form-control" id="VendorId" name="VendorId">
                                @if (Model.HaulierId != null)
                                {
                                    <option value="@Model.VendorId" selected="selected"> @Model.Supplier</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.Supplier, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.HaulierId, "Haulier", new { @class = "control-label" })
                            <select class="form-control" id="HaulierId" name="HaulierId">
                                @if (Model.HaulierId != null)
                                {
                                    <option value="@Model.HaulierId" selected="selected"> @Model.HaulierName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.WarehouseCode, "Warehouse", new { @class = "control-label required" })
                            <select class="form-control" id="WarehouseCode" name="WarehouseCode">
                                @if (Model.WarehouseCode != null)
                                {
                                    <option value="@Model.WarehouseCode" selected="selected"> @Model.WarehouseDescription</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.WarehouseCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-15" })
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-group shadow-textarea">
                        @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @if (Model.Comments != null)
                            {
                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", rows = "3" })
                            }
                            else
                            {
                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", rows = "3", placeholder = "Write something here..." })
                            }
                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <input type="submit" id="create-submit" value="Save" class="btn btn-primary pull-right" />
        </div>
    }
</div>

<link href="~/Content/css-select2/select2.css" rel="stylesheet" />
<script src="~/Content/js-select2/select2.js"></script>
@*<script type="text/javascript" src="~/Scripts/CustomSelectList.js"></script>*@

<script type="text/javascript">
    debugger;
    var whseAddress = $('#Address').val();
      //Select2    
    var vendorSelectList = new CustomSelectList(['#VendorId', '@Url.Action("VendorIdList", "SelectList")', 'Search Supplier']);
    vendorSelectList.init();
    $('#VendorId').on('select2:select', function (e) {
        debugger;
        var data = $(e.currentTarget).select2('data')[0];
        $('#Supplier').val(data.text);
    });

    var warehouseSelectList = new CustomSelectList(['#WarehouseCode', '@Url.Action("WarehouseList", "SelectList")', 'Search Warehouse']);
    warehouseSelectList.init();

    $('#WarehouseCode').on('select2:select', function (e) {
        debugger;
        var data = $(e.currentTarget).select2('data')[0];
        if (data.title == "") {
            $('#Address').val(whseAddress)
        }
        else {
            $('#Address').val(data.otherField)        
        }
        
    });

     var haulierSelectList = new CustomSelectList(['#HaulierId', '@Url.Action("HaulierList", "SelectList")', 'Search Haulier']);
     haulierSelectList.init();

    @*CustomSelectList.init(['#WarehouseCode', '@Url.Action("WarehouseList", "SelectList")', 'Search Warehouse']);
    CustomSelectList.init(['#HaulierId', '@Url.Action("HaulierList", "SelectList")', 'Search Haulier']);*@
  
    $('#create-submit').click(function () {
        var formcontainer = $('#form-container');
        var url = formcontainer.attr('data-url');
        var form = $('#create-form');
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);
        form.validationEngine('validate');

        return false;
    });

    $('.modal-title').html("<b>Edit</b>");
</script>