@model IEnumerable<CenGts.Web.Models.ViewModels.DeliveryRequestViewModel>

@{
    ViewBag.Title = "Delivery Request Listing";
}

<style>
    .dataTables_scroll {
        overflow: auto;
        position: relative;
    }

    #dataTable {
        width: 100% !important;
    }
</style>

<p>
    <button id="createBtn" type="button" class="btn btn-primary crud" data-request-url="@Url.Action("Create")">Create</button> |
    <button id="filterBtn" type="button" class="btn btn-primary">Filter</button>
    @*@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-large" })*@
</p>
@Html.Partial("_LoadProcess")
@Html.Partial("_CrudModal")
@Html.Partial("_DeliveryRequestFilter")
<div class="table-responsive">
    <div class="box-body">
        <table id="dataTable" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DeliveryRequestCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RequestType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RequestedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HaulierName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SalesOrderRef)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WarehouseDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerClientName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@*<script type="text/javascript" src="~/Scripts/CustomSelectList.js"></script>*@
<script type="text/javascript">

    $("#overlay").show();
    var msg = "@TempData["Message"]";
    if (msg != "") {
        swal("Success!", "@TempData["Message"]".toString(), "success");
        '@TempData.Remove("Message")';
    }

    $(document).ready(function () {
        processDataTable();
    });

    $(".crud").on('click', function () {
        debugger;
        btnClicked($(this));
    });

    var btnClicked = function (btnClick) {
        var url = btnClick.data('request-url') + '?id=' + btnClick.data('id');
        AjaxCrudCall(url, "GET");
    };

    $('#submitFilter').on('click', function () {
        processDataTable();
        $('#filterDiv').attr('hidden', 'hidden');
    });

    var processDataTable = function ()
    {
        debugger;
        var isActive = $('select#IsActive').val();
        var statusId = $('select#StatusId').val();

        if ($.fn.DataTable.isDataTable("#dataTable")) {
            $('#dataTable').DataTable().clear().destroy();
        }

        var oTable = $("#dataTable").DataTable(
            {
                ajax: ({
                    type: 'POST',
                    url: '@Url.Action("IndexJson")',
                    data: {
                        'IsActive': isActive,
                        'StatusId': statusId
                    }
                }),
                //stateSave: true,
                //"language":
                //{
                //    "processing": "<i class='fa fa-refresh fa-spin fa-2x fa-fw'></i>"
                //},
                processing: true,
                serverSide: true,
                searchDelay: 350,
                "pagingType": "full_numbers",
                columns: [
                    { data: "DeliveryRequestCode", name: "DeliveryRequestCode", searchable: true, orderable: true },
                    { data: "RequestType", name: "RequestType", searchable: true, orderable: true },
                    { data: "RequestedDate", name: "RequestedDate", searchable: true, orderable: true },
                    { data: "HaulierName", name: "HaulierName", searchable: true, orderable: true },
                    { data: "SalesOrderRef", name: "SalesOrderRef", searchable: true, orderable: true },
                    { data: "WarehouseDescription", name: "WarehouseDescription", searchable: true, orderable: true },
                    { data: "CustomerClientName", name: "CustomerClientName", searchable: true, orderable: true },
                    { data: "StatusName", name: "StatusName", searchable: true, orderable: true },
                    { data: "Actions", name: "Actions", searchable: false, orderable: false }
                ],
                createdRow: function (row, data, index) {
                    $('td', row).each(function () {
                        $(this).css('white-space', 'nowrap');
                    });
                },
                fnInitComplete: function () {
                    $("#overlay").hide();
                }
                //"scrollY": 300,

            });

        //$('#dataTable_filter input').unbind();
        //$('#dataTable_filter input').bind('keyup', function (e) {
        //    if (e.keyCode == 13) {
        //        debugger;
        //        oTable.search(this.value).draw();
        //    }
        //});
        $('#dataTable').wrap('<div class="dataTables_scroll" />');
    }

</script>
