@model Application.Web.Models.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Product Delete";
}

<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    Deleting this records cannot be undone. Are you sure you want to proceed?
</div>
<div class="box-body">
    <div class="form-horizontal">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductCode)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="box-footer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger pull-right" />
        @*| @Html.ActionLink("Back to List", "Index")*@
    }
</div>

<script type="text/javascript">

    $('.modal-title').html("<b>Delete</b>");

</script>