@model CenGts.Web.Models.ExpectedReceiptFilterViewModels

<style type="text/css">
    .element.style {
        width: 150px;
    }
    .select2 {
        width: 100% !important;
    }

    .box-footer {
        padding: 1px;
    }
    .inbound {
        padding-left: 1px;
        padding-right: 1px;
    }
</style>

<div id="filterDiv" hidden="hidden" class="row" style="padding: 5px;">
    <div class="panel">
        <div class="panel-body">
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-md-12 inbound">
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                            <select class="form-control isactive" id="IsActive" name="IsActive">
                                <option value="true" selected="selected">Yes</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.StatusCode, htmlAttributes: new { @class = "control-label" })
                            <select class="form-control" id="StatusCode" name="StatusCode">
                                <option selected="selected">ALL</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.StatusCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button id="submitFilter" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/CustomSelectList.js"></script>
<link href="~/Content/css-select2/select2.css" rel="stylesheet" />
<script src="~/Content/js-select2/select2.js"></script>

<script type="text/javascript">

    var isActiveSelectList = new CustomSelectList(['#IsActive', '@Url.Action("IsActiveSelectList", "SelectList")', 'Search']);
    isActiveSelectList.init();

    var StatusSelectList = new CustomSelectList(['#StatusCode', '@Url.Action("StatusSelectListForReceipt", "SelectList")', 'Search']);
    StatusSelectList.init();

    //$('#IsActive').on('select2:select', function (e) {
    //    console.log($(e.currentTarget).val());
    //});
</script>
