@model Application.Web.Models.ViewModels.LocationViewModel
@{
    ViewBag.Title = "Location Enable";
}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <h4><i class="icon fa fa-ban"></i> Alert!</h4>
    Are you sure you want to enable this record again?
</div>
<div class="box-body">
    <div class="form-horizontal">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.WarehouseDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WarehouseDescription)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="box-footer">
        <input type="submit" value="Enable" class="btn btn-primary pull-right" />
    </div>
}

<script type="text/javascript">
    $('.modal-title').html("<b>Enable</b>");
</script>
